
h1{
	text-align: center; color:darkblue;border-style:dashed;border-color: crimson; outline: thick groove green;
}
nav{
	color: orange;
	font-variant:small-caps;
	font-size:  150% ;
	font-family:  arial;
}
h2{
	font-family: cursive;
	background: yellow;
	background-size: 20%;
	display: inline-block;
	color: blue;
	border-style:groove 2%;
	border-color: crimson; 
}
p{
	color: rgba(17, 202, 131, 0.8);
	
	font-size: 150%;
}
summary{
	color: crimson;
}
ul{
	color: darkgreen;
	font-family: cursive;
	font-size: 150%;
}
body{
		background-color: #000000;
		background-image: url("../img/1.png") ;
		background-size: 30%;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		font-size: 120%;
	} 
section {
	display: block;
}
progress{
	margin: 0% 0% 3% 0%;
}
